.container
  - @feeds.each do |feed|
    %h3= feed[:channel_name]
    %ul.thumbnails
      - feed[:entries].each do |entry|
        %li.span2
          .thumbnail
            %a.fancybox-media{ href: entry[:player], target: '_blank'}
              %img{ src: entry[:image], width: '240', alt: '' }
            .caption
              .small.text-right
                = entry[:published]
              %a.video-title.fancybox-media{ href: entry[:player], target: '_blank'}
                %h4= entry[:title]
              %p= entry[:content]
